<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Sociovert-A Place to express</title>
    {% load static %}
    <link href="{% static 'login/index.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
<div class="form">
    <div class="logInForm">
        <form action="" method="GET">
            <div class="logInFormLogo">
                SocioVert
            </div>
            <div class="logInFormQuote">
                A place to express
            </div>
            <div class="logIn">
                <div class="logInInside">
                    <div class="logInWrite">
                        Log In
                    </div>
                    <div>
                        <p class="text">Email</p>
                    </div>
                    <div>
                        <input class="input largeInput" type="email">
                    </div>

                    <div>
                        <p class="text">Password</p>
                    </div>
                    <div>
                        <input class="input largeInput" type="password">
                    </div>
                    <div class="logInDiv">
                        <button class="logInButton" type="submit">Log In</button>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="footerInside">
                    <ul class="footerList">
                        <li class="footerListLi">About Us</li>
                        <li class="footerListLi footerMargin">Contact</li>
                        <li class="footerListLi footerMargin">Terms & Conditions</li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>