<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Document</title>
    {% load static %}
    <link href="{% static 'myprofile/myprofile.css' %}" rel="stylesheet" type="text/css">
</head>

<body>
<div class="header">
    <div class="headerInside">
        <div class="headerInsideCentre">
                <span class="logo">
                    SocioVert
                </span>

            <span class="search">
                    <input class="searchBox" placeholder="Search" type="text">
                </span>

            <span class="homeButton">
                    Home
                </span>

            <span class="line">
                </span>

            <span class="notificationButton">
                    <a class="logOut" href="{% url 'myprofile:red' %}">LogOut</a>
                </span>

            <span class="profile">
                    <img class="profilePicture"
                         src="{% static 'myprofile/16819243_1192373754214108_3535708910818861573_o.jpg' %}">
                </span>

        </div>
    </div>
</div>

<div class="contents">
    <div class="contentInside">
            <span class="sidebar">
                <div class="myprofile">
                    <div class="myProfileName">{{ user.First_Name }} {{ user.Last_Name }}</div>
                    <div class="myProfilePicture"><img alt="" class="myProfilePictureInside"
                                                       src="{% static 'myprofile/16819243_1192373754214108_3535708910818861573_o.jpg' %}"></div>
                    <div class="myProfileInformation">
                        <div class="myProfileLine"></div>
                        <div class="myProfileLocation myProfileInformation">{{ user.Loc }}</div>
                        <div class="myProfileDOB myProfileInformation">{{ user.DOB }}</div>
                    </div>
                </div>

                <div class="photos">
                    <div class="myPhotoHeading">My Photos</div>
                    <div class="collage">
                        <div class="collagePhotos">
                            <a href="">
                                <img alt="" class="collageImage"
                                     src="{% static 'myprofile/glauco-zuccaccia-132831-unsplash.jpg' %}" width="100%">
                            </a>
                            <a href="">
                                <img alt="" class="collageImage" src="{% static 'myprofile/cbx-263152-unsplash.jpg' %}"
                                     width="100%">
                            </a>
                            <a href="">
                                <img alt="" class="collageImage"
                                     src="{% static 'myprofile/jakob-owens-168415-unsplash.jpg' %}" width="100%">
                            </a>
                        </div>
                    </div>
                </div>

            </span>
        <span class="newFeedPosts">
                <div class="postStatus">
                    <input class="postStatusInput" placeholder="Write Something here..." type="text">
                    <div class="postStatusSubmitButton">
                        <input type="submit" value="Post">
                    </div>
                </div>

                <div class="post">
                    <div class="postHeader">
                        <span><img alt="" class="postProfilePicture"
                                   src="{% static 'myprofile/16819243_1192373754214108_3535708910818861573_o.jpg' %}"></span>
                        <span class="postUserName">{{ user.First_Name }} {{ user.Last_Name }}</span>
                    </div>
                    <div class="postContent">
                        <p class="postContentText">Hey there what is up</p>
                    </div>
                    <div class="postMedia">
                        <img alt="" class="postMediaImage" src="{% static 'myprofile/hacker-wide-2048x1152.jpg' %}">
                    </div>
                    <div class="postButtons">
                        <div class="postLikeButton">
                            <a href="">Like</a>
                        </div>
                        
                        <div class="postCommentButton">
                                <a href="">Comment</a>
                            </div>
                    </div>
                </div>

                <div class="post">
                        <div class="postHeader">
                            <span><img alt="" class="postProfilePicture"
                                       src="{% static 'myprofile/16819243_1192373754214108_3535708910818861573_o.jpg' %}"></span>
                            <span class="postUserName">{{ user.First_Name }} {{ user.Last_Name }}</span>
                        </div>
                        <div class="postContent">
                            <p class="postContentText">My New Cat Boys</p>
                        </div>
                        <div class="postMedia">
                            <img alt="" class="postMediaImage" src="{% static 'myprofile/cat-694730_1920.jpg' %}">
                        </div>
                        <div class="postButtons">
                            <div class="postLikeButton">
                                <a href="">Like</a>
                            </div>
                            
                            <div class="postCommentButton">
                                    <a href="">Comment</a>
                                </div>
                        </div>
                    </div>
            </span>
    </div>
</div>
</body>

</html>